/* //////////////////////////RESET/UTILITY\\\\\\\\\\\\\\\\\\\\\\\\\\ */

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  color: #707070;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #707070;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  /* border: 1px solid orange; */
}

.clearfix::after {
  content:"";
  clear: both;
  display: table;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.fixed {
  position: fixed;
}

.relative-p {
  position: relative;
}

.padding-default {
  padding: 5px;

}
.main-title {
  font-size: 30px;
}

.subtitle {
  font-size: 12px;
}
.margin-main-titl {
  margin: 30px 20px;
}

.text-center {
  text-align: center;
}

.label-title-box {
  max-width: 190px;
}

.circular-img > img{
  border-radius: 50%;
}
/* //////////////////////////COLORS UTILITY\\\\\\\\\\\\\\\\\\\\\\\ */

.bg-color-black {
  background-color: #000;
}

.bg-color-gray {
  background-color: #282828;
}

.bg-color-blackrussian {
  background-color: #151921;
}

.bg-color-bunker {
  background-color: #080B11;
}

.font-white {
  color: #fff;
}
.over-white:hover {
  color: #fff;
}


/* /////////////////////////////STYLE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.principal-section {
  width: 100%;
  height: calc(100% - 90px);
}

.box-r {
  height: 100%;
  width: calc(100% - 230px);
}

.side-bar {
  width:230px;
  height: 100%;
  overflow-y: hidden;
}

header {
  height: 90px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

footer {
  height: 90px;
  width:100%;
}


/* side-bar */
.logo-container {
  padding: 20px;
}

.logo-container > img {
  width: 140px;
}
.xs-logo-sidebar {
  display: none;
}
.side-top {
  height: calc(100% - 120px);
  min-height: 450px;
  overflow-y: hidden;
}

.side-bottom {
  height: 120px;
}

.nav-side-b li {
  border-left: 2px solid transparent;
  padding-left: 20px;
  line-height: 30px;
}

/* esempio colore se selezionato */
.nav-side-b li:hover {
  border-left: 2px solid #C6FF5E;
  padding-left: 20px;
  line-height: 30px;
}

.nav-side-b li > img {
  width: 20px;
  vertical-align: middle;
}

.nav-side-b {
  margin-bottom: 20px;
}

.download > img {
  width: 20px;
  vertical-align: middle;
}

.playlist-container {
  padding-left: 20px;
}

.playlist-title-section,
.crea-pl-container {
  margin-bottom: 10px;
}
.crea-pl-container > i {
  font-size: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.playlist > ul > li {
  margin: 20px 0px;
}

.user-container {
  padding: 20px;
}
.download {
  max-width: 180px;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.user-img > img {
  max-width: 40px;
  padding: 1px;
  border-radius: 50%;
  background-color: #757575;
  vertical-align: middle;
  margin-right: 5px;
}

.side-bar li:hover {
  color: #fff;
}
/* end side-bar */
/* hader */

.button-upgrade-container {
  line-height: 90px;
  margin-right: 25px;
}

.button-upgrade-container > .button {
  border: 1px solid #fff;
  padding: 10px 40px;
  border-radius: 25px;
  font-size: 12px;
}

.button-upgrade-container > .button:hover {
  font-size: 15px;
}

/* nav in main section */
nav {
  margin: 20px 0px;
}

nav > ul > li {
  display: inline-block;
  margin: 0px 10px;
}
nav {
  margin-top: 110px;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
}

nav > ul > li > hr {
  margin: 0 auto;
  max-width: 35px;
  border: 1px solid transparent;
  margin-top: 5px;
}

nav > ul > li:hover hr {
  border: 1px solid #C6FF5E;
}

.albums-hr {
  max-width: 100%;
  margin-left: 20px;
  flex-wrap: nowrap;
}

.img-album-container {
  margin-right: 15px;
}
.img-box {
  max-width: 190px;
  background-image: url("../img/icon/play.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}
.img-album-container > .img-box > img {
  max-width: 100%;
}

.img-album-container img:hover {
  opacity: 0.2;

}

/* footer */
.album-miniature-container {
  max-width: 200px;
  margin-top: 15px;

}
.album-mini-img {
  display: inline-block;
  max-width: 50px;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 50px;
}
.album-mini-img > img {
  width: 100%;
}
.title-mini-album {
  font-size: 12px;
}
.subtitle-mini-album {
  font-size: 10px;
}
.box-titl-minialbum {
  display: inline-block;
}
/* ///////////////////////////MEDIA QUERY\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* MD */

@media screen  and (max-width: 992px) {
  .hidden-md {
    display: none;
  }

  nav {
    flex-wrap: wrap;
  }

  .albums-hr {
    margin-left: 15px;
    flex-wrap: wrap;
  }
  .img-box {
    max-width: 140px;

  }
  .label-title-box {
    max-width: 130px;
  }




}

/* SM */

@media screen  and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
  .albums-hr {
    max-width: 100%;
    margin-left: 15px;
    flex-wrap: wrap;
  }
  .img-box {
    max-width: 160px;

  }





}

/* XS */
@media screen and (max-width: 576px) {
  .hidden-xs {
    display: none;
  }
  .side-bar {
    width:50px;
    height: 100%;
    overflow-y: hidden;
  }
  .xs-logo-sidebar {
    font-size: 30px;
    padding: 0px 10px;
  }
  .nav-side-b li {
    border-left: 2px solid transparent;
    padding-left: 10px;
    line-height: 30px;
  }

  /* esempio colore se selezionato */
  .nav-side-b li:hover {
    border-left: 2px solid #C6FF5E;
    padding-left: 10px;
    line-height: 30px;
  }

  .user-container {
    margin:0;
    padding: 0px;
  }

  .download {
    padding-left: 5px;
  }
  .user-img > img {
    width: 30px;
    padding: 2px;
    border-radius: 50%;
    background-color: #757575;
    margin-right: 5px;
  }

}
